.menu {
  .firstLevel{
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
  }

  .firstLevelActive, .firstLevel{

    svg{
      fill: var(--primary);
    }

    &:hover{
      svg{
        fill: var(--primary);
      }
      color: var(--primary);
    }
  }

  .secondLevel{
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--gray-dark);
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }

  .secondLevelBlock{
    display: none;
  }

  .secondBlock{
    margin-top: 15px;
    margin-left: 12px;
    padding-left: 32px;
    border-left: 1px solid #DFDFDF;
  }

  .secondLevelBlock{
    &Opened{
      display: block;
    }

    &Opened:last-child{
      margin-bottom: 20px;
    }
  }

  .thirdLevel{
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    color: var(--gray-dark);
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;

    &Active, &:hover{
      color: var(--primary);
    }
  }
}


